# Ignore node_modules (it will be installed inside the Docker image)
node_modules

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore temporary build files and cache
.next
out
.cache

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
docker-compose.override.yml

# Ignore IDE-specific files
*.swp
*.swo
*.idea
*.vscode
*.history

# Ignore tests and other development-specific files
__tests__
*.spec.*
*.test.*
coverage
